* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 200;
}

main {
    position: relative;
}

/*Login*/

.login_img {
    object-fit: cover;
    width: 100vw;
    height: calc(100vh - 6px);
}

.login_container {
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    z-index: 10;
    gap: 30px;
    padding: 37px;
}


.login_group1_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.login_group1_description {
    text-align: center;
    color: #575757;
    font-weight: 300;
}

.login_group2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_group2_input {
    border: none;
    background-color: #eff3f6;
    padding: 10px;
}

.login_group2_input::placeholder {
    color: #575757;
    font-weight: 400;
}

.login_group2_forgotpassword {
    align-self: flex-end;
    color: #575757;
    font-weight: 400;
}

.login_group3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login_group3_getstarted {
    border: none;
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.login_group3_orsignin {
    border: none;
    font-weight: 400;
    padding: 8px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.login_group4 {
    display: flex;
    gap: 10px;
}

.login_group4_socialmedia {
    display: flex;
    width: 33%;
    height: 50px;
    justify-content: center;
    background-color: #fafdff;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

@media (min-width: 500px) {
    .login_container {
        width: 500px;
        left: calc(50% - 250px);
    }
}

/*Contactos*/
.contacts_main {
    background-color: #0a65c2;
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contacts_titlegeneral {
    font-weight: 700;
    align-self: flex-start;
}

.contacts_container {
    background-color: #ebf9fe;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    padding: 30px 30px;
}

.contacts_item {
    display: flex;
    background-color: white;
    width: 370px;
    border-radius: 15px;
    width: 100%;
    justify-content: space-evenly;

}

.contacts_group1 {
    display: flex;
    align-items: center;
}

.contacts_group1_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.contacts_group2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts_group2_title {
    font-weight: 700;
}

.contacts_group3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts_group3_btnmessage {
    background-color: white;
    border: 2px solid #0a65c2;
    border-radius: 20px;
    padding: 5px 20px;
    color: #0a65c2;
    font-weight: 400;
}

.contacts_group3_moreoptions {
    width: 40px;
    height: 43px;
}

.contact_iconplus {
    height: 50px;
    width: 50px;
    background-color: #0a65c2;
    padding: 10px;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
}

/*Nuevo Contacto*/
.newContact_container {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    /*cambio*/
    padding: 20px 0;
}

.newContact_group1 {
    width: 100%;
    /*cambio*/
    display: flex;
    flex-direction: column;
}

.newContact_group1>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    margin: auto;
}

.newContact_group1_division1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newContact_group1_title {
    font-weight: 700;
}

.newContact_group1_division2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newContact_group2_contaiinputs1 {
    display: flex;
    width: 100%;
    gap: 15px;
}

.newContact_group2_contaiinputs2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newContact_group2_inputs {
    border: none;
    border-bottom: 1px solid #828282;
    width: 100%;
    height: 40px;
}



.newContact_group2 {
    width: 100%;
    /*cambio*/
    height: 100vh;

}

.newContact_group2_img {
    object-fit: cover;
    height: calc(100vh - 4px);
    width: calc(100% - 0px);
    padding: 10px;
    border-radius: 20px;
}


.newContact_group1_btnaddcontact {
    background-color: #4556ef;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .newContact_container {
        flex-direction: row;
        padding: 0;
    }
}

/*Perfil Usuario*/
.profile_container {
    display: flex;
    flex-direction: column;
    gap: 29px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    align-items: center;
    color: white;
    width: 90%;
    left: calc(50% - 45%);
    top: calc(28% - 12%);

}

.profile_group1_img {
    height: 209px;
    width: 203px;
    border-radius: 50%;
}

.profile_group2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_group2_name {
    font-weight: 400;
}

.profile_group2_married {
    display: flex;
    align-items: center;
}

.profile_group2_married_title {
    margin-right: 15px;
}

.profile_group2_married_img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.profile_group2_contactform {
    display: flex;
    gap: 10px;
}

.profile_group2_contactform_icon {
    width: 30px;
    height: 30px;
    background-color: #303030;
    padding: 5px;
    border-radius: 5px;
}

.profile_group2_priorities {
    display: flex;
    align-items: center;
    gap: 3px;
}

.profile_group2_priorities_btn {
    text-decoration: none;
    color: white;
    background-color: #303030;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;

}

.profile_group2_priorities_btnimage {
    height: 15px;
    width: 15px;

    border-radius: 50%;
}

@media (min-width: 768px) {
    .profile_container {
        flex-direction: row;
        display: flex;
        gap: 29px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        justify-content: center;
        color: white;
        width: 600px;
        left: calc(50% - 300px);
        top: calc(40% - 12%);
    }
}

/*Detalle de Contacto*/

.profile_container_nuevo{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.profile_container_nuevo2{
    flex-direction: column;
    top: calc(27% - 12%);
}

.profile_container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile_container2_group{
    display: flex;
    gap: 10px;
    padding: 15px 10px;
    background-color: #353637;
    border-radius: 15px;
}

.profile_container2_group_img{
    height: 20px;
    width: 20px;
}

@media (min-width: 768px) {
    .profile_container_nuevo{
        flex-direction: row;
    }
}
